/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e4eaf9;;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Container for centered alignment */
.container {
    max-width: 800px;
    background: white;
    padding: 20px 40px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1, h2 {
    color: #5a5a5a;
}

/* Form styles */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label, 
.form-group select, 
.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.form-group label[for="hd-audio"] {
    margin-left: 10px;
}

label {
    display: block ruby;
    margin-bottom: 5px;
}

input[type="text"],
input[type="file"],
button {
    width: 100%;
    padding: 0px;
    margin-top: 5px;
    box-sizing: border-box;
}

#api-key {
    margin-top:-4;

}

button {
    background-color: #5c67f2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #4a54e1;
}

button.secondary {
    background: white;
    border: 1px solid #ddd;
    color: #666;
    padding: 5px;
    font-size: 0.9em;
}

#cancel-button {
    background:red;
    color:white;
    font-weight:600;
    border:red;
}

.badge {
    background: #527ce4;
    outline: 1px solid white;
    color: white;
    font-weight: 400;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 100px;
    top: -2px;
    position: relative;
}

#hours-counter {
    border: 2px solid red;
    border-radius: 100px;
    padding: 7px 9px;
    color: red;
    font-family: courier;
    font-weight: 600;
    width: fit-content;
    float: right;
    margin-top: -47px;
    transform: rotate(-7deg);
    background: #ffffffb0;
}

/* Link styles */
a {
    color: #5c67f2;
}

a:hover {
    text-decoration: underline;
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 5px;
}

/* Progress bar styles */
.progress-container {
    margin: 20px 0;
}

.progress-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.progress-wrapper {
    position: relative;
    width: 100%;
}

progress {
    width: 100%;
    height: 24px;
    -webkit-appearance: none;
    appearance: none;
}

.processing {
    background-color: white;
    transition: background-color 0.5s;

}

.processing::-webkit-progress-value {
    background-color: lightblue;
}

.processing::-moz-progress-bar {
    background-color: lightblue;
}

.processing-lightgreen::-webkit-progress-value {
    background-color: rgb(211, 238, 211);
}

.processing-lightgreen::-moz-progress-bar {
    background-color: rgb(211, 238, 211);
}

.conversion-status {
    display: inline-block;
    margin-left: 0;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
}


.completed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background-color: transparent;
}

/* Tab styles */
/* Tab styles */
.tabs {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-button {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #333;
    font-weight: bold;
}

.tab-button.active {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-content {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.tab-content .tab {
    display: none;
}

.tab-content .tab.active {
    display: block;
}

#text-input {
    width: 100%;
}

#viewer-container {
    background:lightgray;
    width:100%;
    height:10px;
    overflow: hidden;
    margin:0 24px 0 24px;
}

#viewer {
    width: 1600px;
}

.footer{
    text-align: center;
}